:root {
   --primary-text-color: #595959;
   --secondary-text-color: #ffffff;
   --title-text-color: #000000;
   --accent-color: #fb6d3a;
   --primary-bg-color: #f5f7fa;
   --secondary-bg-color: #2f4f4f;
   --primary-font-size: 14px;
}

body {
   margin: 5px;
   font-family: 'Montserrat', sans-serif;
   font-size: var(--primary-font-size);
   font-weight: 400;
   font-style: normal;
   line-height: 1.71;
   border: thick double var(--secondary-bg-color);
   border-radius: 5px;
   color: var(--primary-text-color);
   background-color: var(--primary-bg-color);
}

.container {
   padding: 0 20px;
   margin: 0 auto;
}

@media screen and (min-width: 768px) {
   .container {
      padding: 0 50px;

   }
}

@media screen and (min-width: 1280px) {
   .container {
      padding: 0 90px;
   }
}

.section {
   padding: 10px 0;
}

@media screen and (min-width: 768px) {
   .section {
      padding: 15px 0;
   }
}

@media screen and (min-width: 1280px) {
   .section {
      padding: 30px 0;
   }
}

.title {
   margin-bottom: 10px;
   padding: 10px;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: .03em;
   text-align: center;
   border: 1px solid var(--secondary-bg-color);
   border-radius: 5px;
   color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
   .title {
      margin-bottom: 20px;
   }
}

@media screen and (min-width: 1280px) {
   .title {
      margin-bottom: 30px;
   }
}

.subtitle {
   line-height: 1.22;
   color: var(--secondary-bg-color);
}

h1, h2, h3, h4, p, ul {
   margin: 0;
}

ul {
   padding: 0;
   list-style: none;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

/* *WRAPPER */

.main-wrapper {
   border-radius: 10px;
   background-color: #ffffff;
}

@media screen and (min-width: 1280px) {
   .main-wrapper {
      display: flex;
   }
}

/* *Header */
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   margin: 3px 3px 20px;
   border-radius: 10px;
   background-color: var(--secondary-bg-color);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media screen and (min-width: 768px) {
   .header {
      margin-bottom: 30px;
      justify-content: space-between;
      align-items: flex-start;
   }
}

@media screen and (min-width: 1280px) {
   .header {
      flex-direction: column;
      justify-content: space-evenly;
      min-width: 370px;
      padding: 30px 40px;
      margin: 10px 0 10px 10px;
   }
}

.header__box {
   text-align: center;
}


.header__img {
   width: 125px;
   margin: 0 auto 10px auto;
}

@media screen and (min-width: 768px) {
   .header__img {
      margin: 0 auto 20px auto;
   }
}

@media screen and (min-width: 1280px) {
   .header__img {
      min-width: 290px;
      margin-right: 0;
      margin-bottom: 40px;
   }
}

.header__title {
   margin-bottom: 3px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.45;
   color: var(--secondary-text-color);
}

@media screen and (min-width:768px) {
   .header__title {
      font-size: 18px;
   }
}

@media screen and (min-width: 1280px) {
   .header__title {
      text-align: center;
      font-weight: 700;
      font-size: 22px;
   }
}

.header__text {
   font-size: 12px;
   line-height: 1.19;
   opacity: .5;
   color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
   .header__text {
      font-size: 10px;
   }
}

@media screen and (min-width: 1280px) {
   .header__text {
      text-align: center;
      font-size: var(--primary-font-size);
   }
}

.box {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

@media screen and (min-width: 768px) {
   .box {
      align-items: start;
   }
}

@media screen and (min-width: 1280px) {
   .box {
      margin-bottom: 30px;
   }
}

.box__title {
   margin-bottom: 7px;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.45;
   color: var(--secondary-text-color);
}


.contacts-list__item, .social-list__item {
   text-align: right;
   line-height: 1.11;
}

@media screen and (min-width: 768px) {
   .contacts-list__item, .social-list__item {
      text-align: left;
   }
}

.contacts-list__item, .social-list__item:not(:last-child) {
   margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
   .contacts-list__item, .social-list__item:not(:last-child) {
      margin-bottom: 15px;
   }
}

.contacts-list__link, .social-list__link {
   font-size: 12px;
   opacity: .5;
   color: var(--secondary-text-color);
}

.contacts-list__link:hover,
.social-list__link:hover {
   opacity: 1;
}

@media screen and (min-width:768px) {
   .contacts-list__link, .social-list__link {
      font-size: 10px;
   }
}

@media screen and (min-width: 1280px) {
   .contacts-list__link, .social-list__link {
      font-size: 14px;
   }
}

.wrapper-skills {
   display: none;
}

@media screen and (min-width: 768px) {
   .wrapper-skills {
      display: block;
   }
}

.wrapper-skills__title {
   margin-bottom: 7px;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.45;
   color: var(--secondary-text-color);
}

.characteristic-list__item {
   font-size: 10px;
   opacity: .5;
   color: var(--secondary-text-color);
}

@media screen and (min-width: 1280px) {
   .characteristic-list__item {
      font-size: 14px;
   }
}

.characteristic-list__item::before {
   content: "\2022 ";
   margin-right: 5px;

}

.characteristic-list__item:not(:last-child) {
   margin-bottom: 10px;
}

/* *Summary */

.summary__text {
   text-indent: 5px;
}

/* *Project */

.project__subtitle {
   margin-bottom: 5px;
}

.project__link {
   font-size: 16px;
   color: var(--secondary-bg-color);
}

.project__link:hover {
   color: #A0522D;

}

.project-list {
   text-indent: -16px;
   padding-left: 16px;
}

.project-list__item::before {
   content: "\2022";
   font-weight: bold;
   margin-right: 5px;
   color: var(--secondary-bg-color);
}

.project-list__link {
   color: var(--primary-text-color);
}

/* *Work experience */

.experience__text--divider {
   color: var(--secondary-bg-color);
}

.experience-wrapper:not(:last-child) {
   margin-bottom: 15px;
}

.experience-list {
   text-indent: -16px;
   padding-left: 16px;
}

.experience-list__item::before {
   content: "\2022";
   font-weight: bold;
   margin-right: 5px;
   color: var(--secondary-bg-color);
}

/* *Education */

.school-list__item:not(:last-child) {
   margin-bottom: 10px;
}

.school-list__text--small {
   font-size: 10px;
}

.school-list__text--divider {
   color: var(--secondary-bg-color);
}

/* *Skills */

@media screen and (min-width: 768px) {
   .skills {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;

   }
}

.skills-list, .soft-list {
   margin-bottom: 10px;
}

.skills-list__item::before,
.soft-list__item::before,
.language-list__item::before {
   content: "\2022 ";
   margin-right: 5px;
   color: var(--secondary-bg-color);
}