:root {
   --primary-text-color: #595959;
   --secondary-text-color: #ffffff;
   --title-text-color: #000000;
   --accent-color: #fb6d3a;
   --primary-bg-color: #f5f7fa;
   --secondary-bg-color: #2f4f4f;
   --primary-font-size: 14px;
}

body {
   margin: 5px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-style: normal;
   line-height: 1.71;
   color: var(--primary-text-color);
   background-color: var(--primary-bg-color);
}

.section {
   padding: 0 20px;
   margin-bottom: 15px;
}

.title {
   margin-bottom: 10px;
   padding: 10px;
   font-weight: 700;
   font-size: 22px;
   line-height: 1.17;
   letter-spacing: .03em;
   text-align: center;
   border-radius: 5px;
   color: var(--title-text-color);
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

h1, h2, h3, h4, p, ul {
   margin: 0;
}

ul {
   padding: 0;
   list-style: none;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

/* *WRAPPER */

.main-wrapper {
   border-radius: 10px;
   background-color: #fff;
   /* box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */
}

/* *About */
.about {
   display: flex;
   align-items: center;
   padding: 20px;
   margin-bottom: 20px;
   border-radius: 10px;
   background-color: var(--secondary-bg-color);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.about__image {
   width: 70px;
   height: 60px;
   margin-right: 20px;
   border-radius: 5px;
}

.box {
   width: 100%;
}

.wrapper-name {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 3px;
}

.wrapper-name__title {
   font-weight: 500;
   font-size: var(--primary-font-size);
   line-height: 1.22;
   color: var(--secondary-text-color);
}

.wrapper-name__text {
   font-size: 10px;
   line-height: 1.19;
   opacity: .5;
   color: var(--secondary-text-color);
}

.wrapper-link {
   display: flex;
   justify-content: space-between;
   border-top: 2px solid var(--secondary-text-color);
}

.contacts-list__item, .social-list__item {
   line-height: 1.11;
}

.contacts-list__link, .social-list__link {
   text-decoration: none;
   font-size: 10px;
   opacity: .5;
   color: var(--secondary-text-color);
}

/* *Summary */

.summary__text {
   font-size: var(--primary-font-size);

   text-indent: 5px;
   color: var(--primary-text-color);
}

/* *Project */

.project__subtitle {
   margin-bottom: 5px;
}

.project__link {
   font-size: 16px;
   color: var(--secondary-bg-color);
}

.project-list {
   text-indent: -16px;
   padding-left: 16px;
}

.project-list__item {
   font-size: var(--primary-font-size);
   color: var(--primary-text-color);
}

.project-list__item::before {
   content: "\21D2 ";
   margin-right: 5px;
   color: var(--secondary-bg-color);
}

/* *Work experience */

.experience__subtitle {
   font-size: 16px;
   color: var(--secondary-bg-color);
}

.experience__text {
   font-size: var(--primary-font-size);
   color: var(--primary-text-color);
}

.experience__text--divider {
   color: var(--secondary-bg-color);
}